body{
    font-size: 16px;
    margin: 0em 4em ; /* No whitespace on top, a bit of whitespace on the sides */ /* EM scales if text size changes */
    background-color:#f9f9f9 ; /* Adds background colour*/
}

article{
    background-color:white;
 }

article .hero{
    display: block;      /* removes inline spacing */
    max-width: 100%;     /* keeps it from overflowing */
    width: 100%;         /* makes it fill the article width */
    height: auto;        /* keeps aspect ratio */
}

article h1{ 
    font-family:'Roboto Slab'; 
    font-size: 2rem;
    color: #9f2042;
    text-transform: uppercase;
    text-align:center; 
    margin-bottom: 5px; /* Shortens the whitespace between H1 and #details */
}

article #details{
    font-family:'Open Sans';
    font-size: 1rem;
    color: #a9a9ba ;
    text-align: center;
}   

article p{
    font-family:'Open Sans';
    font-size: 0.9rem;
    margin: 1em 1.5em; /* Using em consistently in this excersice */
}

article blockquote{
    font-family:'Roboto Slab';
    font-size: 1.25rem;
    border: 1px solid #ececec; /* Borders, shadows etc. always in px */
    background-color: #f9f9f9;
    padding: 1em 1.5em; 
}

article #buttons{
    margin: 2em 1.5em; /* Shorthand versions for padding, first top-bottom, second left-right */ /* More whitespace before and after buttons */
    font-size: 0.9rem;
    font-family:'Open Sans';
}

article #buttons a { /* Here everything changes the buttons */
    color: #ec8295;
    border: solid 3px;
    border-color: #f9f9f9;
    padding: 0.8em 1em; /* Em padding grows with font size */
    border-radius: 6px;
}

article #buttons a:hover{ /* Adding a hovering state for buttons */
    background-color: #a9a9ba;
    color: #9f2042;
}

footer{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #29293a;
    padding: 1em 0em; /* Padding top-bottom, but none for the sides so that the text aligns with other text */
}

footer p{
    color: white;
    font-size: 0.9rem;
}

footer p a{
    color: #ec8295;
}
